* {
	font-family: Open Sans;
}

.fave{
	margin: 10px;
	padding: 10px;
	font-size: 14px;
	font-weight: normal;
}

.faveID{
	font-size: 10px;
	color: grey;
	float: right;
}

.faveCount{
	font-size: 10px;
	padding-top: 10px;
	color: #b70000;
	text-align: right;
}

.fave a{
	font-size: 14px;
	text-decoration:none;
	font-weight: normal;
	font-size: 14px;
	color: blue;
	text-align: justify;
	text-justify: inter-word;
	padding: 5px;
}

.fave a.faveText{
	color: black;
}

.fave a:hover{
	font-weight: bold;
}

.faveText{

}

.col{
	margin: 10px;
	padding: 5px;
}

.ui-btn-up-c {
    border:2px solid #a1a1a1;
    padding:10px 10px;
    background:#dddddd;
    border-radius:25px;
}

.dialogusername {
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

.dialogscreenname {
	color: gray;
	text-align: center;
}

.dialoglocation , .dialoglocation a{
	text-align: center;
	font-size: 0.9em;
	font-style: italic;
	text-decoration: none;
}

.dialogdescription {
	text-align: center;
	margin-top: 5px;
}

.dialogtweet {
	margin-top: 20px;
	font-size: 0.9em;
	padding-bottom: 20px;
	position: relative;
}

.dialogtweet img {
	margin-top: 5px;
}

.dialogtext {
	position: absolute;
	top: 0;
	margin-left: 60px;
}

.dialogretweet {
	display: inline-block;
	float: right;
	margin-top: -7px;
	margin-right: 15px;
}

.ui-dialog  .ui-header .ui-btn-icon-notext {
	display: none;
}

@media all and (min-width: 0em){
    #searchContainer {
        width: 100%;
    }
    #tweetsGrid {
        width: 100%;
    }
    .ui-block-a,
    .ui-block-b,
    .ui-block-c {
	    width: 100%;

    }
}

@media all and (max-width: 42em){
    .my-breakpoint .ui-block-a,
	.my-breakpoint .ui-block-b,
	.my-breakpoint .ui-block-c {
		float:none;
       min-width: 70%;
	}
}

@media all and (min-width: 36em){
    #searchContainer {
        width: 30%;
        float: left;
    }
    #tweetsGrid {
        width: 70%;
        float: left;
    }
    .ui-block-a,
    .ui-block-b,
	.ui-block-c {
		float:left;
		width: 100%;
	}
}
