.fave{
	margin: 10px;
	padding: 10px;
}

.faveID{
	font-size: 10px;
	color: grey;
	float: right;
}

.faveText{
	font-size: 14px;
	color: black;
	margin: 5px;
	text-align: justify;
	text-justify: inter-word;
}

.faveCount{
	font-size: 10px;
	padding-top: 10px;
	color: #b70000;
	text-align: right;
}

.fave a{
	text-decoration:none;
	font-weight: normal;
}

.fave a:hover{
	font-weight: bold;
}

.col{
	margin: 10px;
	padding: 5px;
}

@media all and (min-width: 0em){
    #searchbar {
        display: none;
    }
    #tweetsGrid {
        width: 100%;
    }
    .ui-block-a,
    .ui-block-b,
    .ui-block-c {
	    width: 100%;
    }
}

@media all and (min-width: 36em){
    #searchbar {
        display: block;
        width: 30%;
        float: left;
    }
    #tweetsGrid {
        width: 70%;
        float: left;
    }
    .ui-block-a,
    .ui-block-b,
	.ui-block-c {
		float:left;
        width: 100%;
	}
}

@media all and (min-width: 48em){
    .ui-block-a,
	.ui-block-b,
	.ui-block-c {
		float:left;
        width: 33%;
	}
}
