body {
	background-color: #EFF2FB;
	text-align: center;
	margin: auto;
	width: 100%;
    font-family:"Times New Roman";
}

#pageTitle {
    font-family:"Times New Roman";
    padding:20px;
    border-radius:10px;
    border:10px solid #330099;
    background: #CEE3F6;
    word-spacing: 2px;
}

h3 {
    font-family:"Times New Roman";
    word-spacing: 1.5px;
    text-transform: capitalize;
    
}

.topic{
	margin: 10px;
	text-align: left;
	padding: 5px;
}

.topicTitle{
	text-decoration: none;
	color: #0c0344;
	font-size: 20px;
}

.cmmtDiv{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border-top: 1px solid;
}

.topicLink{
	font-size: 12px;
}

#NewTopics {
    border-radius:10px;
    border:5px solid #330099;
    background: #CEE3F6;
    
    color: black;
    text-transform:uppercase;
    text-align: center;

    word-spacing: 2px;
    text-shadow;
    float:right;
    width:29%;

}

#wantToPost {
    font-family:"Times New Roman";
    font-style: bold;
    font-size:14px;
    text-align: center;
    text-transform: capitalize;
}

#topicTile{
	line-height: 1cm;
	border-bottom: 1px solid;
	background:  #CEE3F6;
	text-align: center;
    height: 1cm;
}

/* lis of all topics in the website. */
#topicsList{
    width:68%;
    float:left;
    border-radius:10px;
    border:5px solid #330099;
    background: #CEE3F6;
    
}


#topics {
}

#comment {
    font-family:"Times New Roman";
    background-color: #FFFFE3;
    border-style: ridge;
}

/* The id of the division of the topic that is currently added to the list*/
#topicActivated {
    font-style: bold;

}

/* format the textbox for the topic title. */
#topicTitle {
    font-family:"Times New Roman";
    background-color: #ECF4FF;
    border-style: inset;
}

/* format the textbox for the topic link. */
#topicLink {
    font-family:"Times New Roman";
    background-color: #ECF4FF;
    font-style:italic;

}

/* format the topic submission button. */
#topicSubmission {
    font-style: bold;
    font-size:14px;
    font-family: "Times New Roman";
    text-align: left;
    text-transform: capitalize;
}

/* format the cancel submission button. */
#topicCancellation {
    font-style: bold;
    font-size:14px;
    font-family: "Times New Roman";
    text-align: left;
    text-transform: capitalize;
}

.votes {
    color: black;
    font-size: xx-large;
    margin: 5px;
    
}

.votes:before {
    content: "number of votes: (Click to upvote) ";
    font-size:14px;
    font-family: "times new roman";
    text-align: right;
    font-style:bold;
}

.votes:link {
    text-decoration: none;
}

.votes:hover {
    color: blue;
    font-style:bold;
    font-size:15;
}

/* format the division of all comments  of a topic. */
.cmmtContainer {
    font-family:"Times New Roman";
}

/* format the comment division for each comment. */
.cmmtDiv {
    background-color: #FFFFE0;
    border-style: outset;
}

/* format the button for commenting on comments. */
.cmmtComment {
    font-family:"Times New Roman";
    font-style: bold;
    font-size:14px;
    text-align: center;
}

/* format post comments button. */
.postComment {
    font-family:"Times New Roman";
    font-style: bold;
    font-size:14px;
    text-align: center;
}

/* format show comment button. */
.showComment {
    font-family:"Times New Roman";
    font-style: bold;
    font-size:14px;
    text-align: center;
}

/* format comment cancelation button. */
#commentCancel {
    font-family:"Times New Roman";
    font-style: bold;
    font-size:14px;
    text-align: center;
}


/* format comment submission button. */
#commentSubmission {
    font-family:"Times New Roman";
    font-style: bold;
    font-size:14px;
    text-align: center;
}